venv/
*.pyc
__pycache__/
.DS_Store
db.sqlite3  # Удалите, если не используете SQLite
*.sqlite3
local_settings.py
*.log  # Игнорировать файлы журналов
*.swp  # Игнорировать файлы подкачки vim
*~  # Игнорировать резервные копии файлов

# Игнорировать файл с переменными окружения (ОЧЕНЬ ВАЖНО!)
.env